<div class="crypto-value" >
  <div fxLayout="column" fxLayout.gt-sm="row">
    <div class="" fxLayout="column" fxFlex="100" fxFlex.gt-sm="60" >
      <div class="" fxLayout="column" fxLayout.gt-md="row">
       <div class="customer-info" fxFlex="33.3" [@animate]="{value:'*',params:{scale:'.9',delay:'300ms'}}">
         <mat-card>
           <div class="card-body-content" [style.height]="'126px'">
             <div fxLayout="row" fxLayoutAlign="space-between start">
               <div>
                 <h5 class=" fw-500">NEW CUSTOMERS </h5>
   
                 <h2 class="fw-600 text-30">3,897</h2>
                 <span fxLayoutAlign="start center" class="text-cyan-600" fxLayout="row">
                   <mat-icon class="mr-4">trending_up</mat-icon>20%
                 </span>
               </div>
   
               <div id="chart">
                 <apx-chart [series]="customerOptions.series" [chart]="customerOptions.chart"
                   [xaxis]="customerOptions.xaxis" [dataLabels]="customerOptions.dataLabels"
                   [grid]="customerOptions.grid" [tooltip]="customerOptions.tooltip" [stroke]="customerOptions.stroke">
                 </apx-chart>
               </div>
   
             </div>
           </div>
         </mat-card>
       </div>
       <div class="customer-info" fxFlex="33.3" [@animate]="{value:'*',params:{scale:'.9',delay:'300ms'}}">
         <mat-card>
           <div class="card-body-content" [style.height]="'126px'">
             <div fxLayout="row" fxLayoutAlign="space-between start">
               <div>
                 <h5 class=" fw-500">NEW CUSTOMERS </h5>
   
                 <h2 class="fw-600 text-30">3,897</h2>
                 <span fxLayoutAlign="start center" class="text-cyan-600" fxLayout="row">
                   <mat-icon class="mr-4">trending_up</mat-icon>20%
                 </span>
               </div>
   
               <div id="chart">
                 <apx-chart [series]="customerOptions.series" [chart]="customerOptions.chart"
                   [xaxis]="customerOptions.xaxis" [dataLabels]="customerOptions.dataLabels"
                   [grid]="customerOptions.grid" [tooltip]="customerOptions.tooltip" [stroke]="customerOptions.stroke">
                 </apx-chart>
               </div>
   
             </div>
           </div>
         </mat-card>
       </div>
       <div class="customer-info" fxFlex="33.3" [@animate]="{value:'*',params:{scale:'.9',delay:'300ms'}}">
         <mat-card>
           <div class="card-body-content" [style.height]="'126px'">
             <div fxLayout="row" fxLayoutAlign="space-between start">
               <div>
                 <h5 class=" fw-500">GROWTH </h5>
                 <h2 class="fw-600 text-30">66.6%</h2>
                 <span fxLayoutAlign="start center" class="text-cyan-600" fxLayout="row">
                   <mat-icon class="mr-4">trending_up</mat-icon>20%
                 </span>
               </div>
   
               <div id="chart">
                 <apx-chart [series]="customerOptions.series" [chart]="customerOptions.chart"
                   [xaxis]="customerOptions.xaxis" [dataLabels]="customerOptions.dataLabels"
                   [grid]="customerOptions.grid" [tooltip]="customerOptions.tooltip" [stroke]="customerOptions.stroke">
                 </apx-chart>
               </div>
   
             </div>
           </div>
         </mat-card>
       </div>
      </div>
      <div class="user-analytics">
        <mat-card fxFlex="100">
          <div fxLayout.gt-sm="row" fxLayout="column">
  
  
            <div id="chart" fxFlex="100">
              <apx-chart [series]="chartOptionsThree.series" [chart]="chartOptionsThree.chart"
                [xaxis]="chartOptionsThree.xaxis" [stroke]="chartOptionsThree.stroke"
                [tooltip]="chartOptionsThree.tooltip" [dataLabels]="chartOptionsThree.dataLabels"></apx-chart>
            </div>
          </div>
        </mat-card>
      </div>
     </div>
     <div fxFlex="100" fxFlex.gt-sm="40" >
      <mat-card class="p-0 ">
        <div class="card-title">
          <h4 class="fw-500">Top Selling Product</h4>
        </div>
        <div class="card-body">
          <mat-nav-list class="inbox-nav-list" role="list">
            <mat-list-item *ngFor="let product of products" class="border-bottom">
              <a mat-list-avatar class="toolbar-avatar">
                <img [src]="product.avatar" alt="">
              </a>
              <h4 class="fw-500" matLine>{{product.name}}</h4>
              <p matLine class="mr-1 text-muted">{{product.message}}</p>
  
              <div class="talk-time fw-600">{{product.time}}</div>
            </mat-list-item>
  
          </mat-nav-list>
        </div>
      </mat-card>
    </div>
  </div>
  
 
  
</div>

<!-- Fullwidth chart -->
<div class="year-info-wrap" [@animate]="{value:'*',params:{y:'25px',delay:'300ms'}}">

  <div class="yearly-info">

    <mat-card fxLayout="column" class="default">
      <div class="card-body-content" [style.height]="'500'">
        <div class="card-title">
          <h4 class="fw-500 text-left">Active users</h4>
          <p class="text-muted m-0">Page views per day</p>
        </div>
        <div id="chart" class="mt-20">
          <apx-chart
            [series]="chartOptionsUsers.series"
            [chart]="chartOptionsUsers.chart"
            [dataLabels]="chartOptionsUsers.dataLabels"
            [plotOptions]="chartOptionsUsers.plotOptions"
            [yaxis]="chartOptionsUsers.yaxis"
            [xaxis]="chartOptionsUsers.xaxis"
            [fill]="chartOptionsUsers.fill"
            [title]="chartOptionsUsers.title"
          ></apx-chart>
        </div>
      </div>
      

    </mat-card>
  </div>
  <div class="yearly-info">

    <mat-card fxLayout="column" class="default">
      <div class="card-body-content" [style.height]="'400'">
        <div class="card-title">
          <h4 class="fw-500 text-left">Upcoming events</h4>
        </div>
        <div class="card-body w-100 events">
          <mat-nav-list class="inbox-nav-list" role="list">
            <mat-list-item *ngFor="let event of events" class="border-bottom" >
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon svgIcon="event" class="btn-icon text-muted" ></mat-icon>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <h4 class="fw-500 mb-0 text-muted text-14" matLine>{{event.date}}</h4>
                  <p matLine class="mb-0 ml-1">{{event.message}}</p>
                </div>
              </div>
              
            </mat-list-item>
  
          </mat-nav-list>
        
        </div>
      </div>

    </mat-card>
  </div>
  <div class="yearly-info">

    <mat-card fxLayout="column" class="default">
      <div class="card-body-content" [style.height]="'100'">
        <div class="card-title">
          <h4 class="fw-500 text-left">Popular products</h4>
        </div>
        <div class="card-body w-90 mx-auto mt-24 popular-products-donut">
          <div id="chart">
            <apx-chart
              [series]="chartOptionsCategories.series"
              [chart]="chartOptionsCategories.chart"
              [labels]="chartOptionsCategories.labels"
              [responsive]="chartOptionsCategories.responsive"
              [colors]="chartOptionsCategories.colors"
              [legend]="chartOptionsCategories.legend"
            ></apx-chart>
          </div>
        </div>
        
      </div>
    </mat-card>
  </div>
</div>

<!-- Table row -->

<div fxLayout="row wrap" [@animate]="{value:'*',params:{delay:'800ms',scale:'.9'}}">
  <div fxFlex="100" fxFlex.gt-sm="66.6" fxFlex.sm="66.6">
    <mat-card class="p-0 ">
      <div class="card-title">
        <h4 class="fw-500">Dispatched Orders</h4>
      </div>

      <!-- <ngx-datatable class="material ml-0 mr-0" [rows]="activeTrades" [columnMode]="'flex'" [headerHeight]="50"
        [footerHeight]="0" [rowHeight]="'auto'">

        <ngx-datatable-column name="Order No" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div fxLayout="row wrap" fxLayoutAlign="start center">
              {{ row?.orderNo }}
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="PROJECT NAME" [flexGrow]="1">
          <ng-template fxLayoutAlign="start center" let-row="row" ngx-datatable-cell-template>
            {{row?.projectName}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ASSIGN" [flexGrow]="1">
          <ng-template fxLayoutAlign="start center" let-row="row" ngx-datatable-cell-template>
            {{row?.operator}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Location" [flexGrow]="1">
          <ng-template class="text-cyan-600 pt-4" let-row="row" ngx-datatable-cell-template>
           <mat-chip [color]="row?.color" selected>{{row?.status}}</mat-chip>  
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="Start Date" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row?.startDate}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="End Date" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row?.endDate}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable> -->


      <div class="table-wrap fix">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100 border-shadow-0">

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Order No. </th>
            <td mat-cell *matCellDef="let element"> {{element.orderNo}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Name </th>
            <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Assign </th>
            <td mat-cell *matCellDef="let element"> {{element.operator}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let element">
              <mat-chip [color]="element.color" selected>{{element.status}}</mat-chip>
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
            <td mat-cell *matCellDef="let element">{{element.startDate}}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
            <td mat-cell *matCellDef="let element">{{element.endDate}}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="33.4" fxFlex.sm="33.4">
    <mat-card class="p-0 ">
      <div class="card-title">
        <h4 class="fw-500">Recent Users</h4>
      </div>
      <div class="card-body">
        <mat-nav-list class="inbox-nav-list" role="list">
          <mat-list-item *ngFor="let contact of contacts" class="border-bottom">
            <a mat-list-avatar [ngClass]="{online: contact.status === 'online'}" class="toolbar-avatar">
              <img [src]="contact.avatar" alt="">

              <span class="status-dot"></span>
            </a>
            <h4 class="fw-500" matLine>{{contact.name}}</h4>
            <p matLine class="mr-1 text-muted">{{contact.message}}</p>

            <div class="talk-time"><small class="text-muted">{{contact.time}}</small></div>
          </mat-list-item>

        </mat-nav-list>
      </div>
    </mat-card>
  </div>
</div>