<div class="ecommerce-wrapper">
  <mat-sidenav-container>
    <mat-sidenav sophiaSideNavToggle class="shop-sidebar">
      <div class="shop-filters-wrap">
        <form [formGroup]="filterForm">
          <mat-accordion multi="true" displayMode="flat">
            <!-- Categories -->
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Categories
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul class="product-categories">
                <li [ngClass]="{'fw-500': 'all' === activeCategory}" (click)="setActiveCategory('all')">All</li>
                <li *ngFor="let c of categories$ | async" [ngClass]="{'fw-500': c === activeCategory}" (click)="setActiveCategory(c)">{{c}}</li>
              </ul>
            </mat-expansion-panel>
            <!-- Price -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Price
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="m-0">Min: {{filterForm.controls['minPrice']['value'] || 20 | currency:'USD'}}</p>
              <mat-slider class="full-width mb-1 pl-0" [formControl]="filterForm.controls['minPrice']" [thumbLabel]="true" [max]="filterForm.controls['maxPrice']?.value - 5"
                [min]="20"></mat-slider>
  
              <p class="m-0">Max: {{filterForm.controls['maxPrice']['value'] || 40 | currency:'USD'}}</p>
              <mat-slider class="full-width pl-0" [formControl]="filterForm.controls['maxPrice']" [thumbLabel]="true" [max]="50" [min]="filterForm.controls['minPrice']?.value + 5"></mat-slider>
            </mat-expansion-panel>
            <!-- Ratings -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Ratings
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="m-0">Min: {{filterForm.controls['minRating']['value'] || 1}}</p>
              <mat-slider class="full-width mb-1" [formControl]="filterForm.controls['minRating']" [thumbLabel]="true" [max]="filterForm.controls['maxRating']?.value - 1"
                [min]="1"></mat-slider>
  
              <p class="m-0">Max: {{filterForm.controls['maxRating']['value'] || 5}}</p>
              <mat-slider class="full-width mb-1" [formControl]="filterForm.controls['maxRating']" [thumbLabel]="true" [max]="5" [min]="filterForm.controls['minRating']?.value + 1"></mat-slider>
            </mat-expansion-panel>
          </mat-accordion>
        </form>
      </div>
    </mat-sidenav>
    <div class="shop-wrap" fxLayout="row" fxLayoutWrap="wrap">
      <!-- Filters -->
      <!-- Right side -->
      <div class="full-width">
        <!-- Search Form -->
        <div fxLayout="row" fxLayout.lt-sm="column" class="shop-top-toolbar">
          <div class="product-search-wrap">
           
            
            <mat-form-field appearance="legacy">
              <mat-label>Search product</mat-label>
              <input matInput placeholder="Placeholder" [formControl]="filterForm.controls['search']">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            
          </div>
          <!-- View change buttons and cart -->
         
          <span fxFlex="20px"></span>
          
         <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
          <div>
            <button mat-icon-button (click)="changeViewType('list', 100)">
                <mat-icon>view_list</mat-icon>
            </button>
            <button mat-icon-button (click)="changeViewType('list', 33.3)">
                <mat-icon>view_module</mat-icon>
            </button>
            <button mat-icon-button (click)="changeViewType('list', 25)">
                <mat-icon>view_comfy</mat-icon>
            </button>
        </div>
        <button mat-button fxLayoutAlign="space-between center" [matMenuTriggerFor]="menu">
          <span class="notification-number mat-bg-warn">{{cartData.itemCount}}</span>
          <mat-icon>shopping_cart</mat-icon>
        </button>
        
         </div>
          
        <!-- <button mat-raised-button color="primary" routerLink="/shop/cart">
          <mat-icon>shopping_cart</mat-icon> Cart ({{cartData.itemCount}})
          
        </button> -->
       
        
        <mat-menu class="spCard-main"  #menu="matMenu"> 
          <div class="spCard-dropdown">
            <div class="card-list-title" fxLayout="row" fxLayoutAlign="space-between start">
               <a [routerLink]="['/shop/cart']" routerLinkActive="router-link-active" ><p>CHECK CARD</p></a>
                <p>{{cartData.itemCount}} ITEMS</p>
            </div>
                <mat-divider></mat-divider>
                <p class="woo-message" *ngIf="!cartData.itemCount">Please add product<p>
    
                <div class="new-product" fxLayout="column" *ngIf="cartData.itemCount">
                  <div class="item" fxLayout="row" fxLayoutAlign="start start"  *ngFor="let item of cart">
                      <div class="product">
                          <img [src]="item.product.photo" alt="">
                         </div>
                        <div class="desc">
                          <p>{{item.product.name}}</p>
                          <p class="price">{{item.product.price.sale | currency}}</p>
                         </div>
                         <div class="close-circle">
                            <a (click)="removeProduct(item)">
                              <mat-icon [svgIcon]="notifications_active" class="btn-icon"  ></mat-icon>
                              </a>
                          </div>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="total" fxLayout="row" fxLayoutAlign="space-between center">
                      <p class="text-muted">Subtotal: </p>
                      <span>${{subTotal}}</span>
                    </div>
                </div>
          </div>
     </mat-menu>
        </div>
        <!-- Products container -->
        <div class="product-container" 
        [ngClass]="{'list-view': viewMode === 'list-view'}">
          <!-- Product Box -->
          <div  
          class="product-wrap" 
          *ngFor="let product of products$ | async | paginate: { itemsPerPage: 8, currentPage: currentPage }; let i = index;"
          [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}" fxFlex="100" [fxFlex.gt-sm]="viewCol" fxFlex.sm="50">
            <div class="product-inner default-bg">
              <!-- <div *ngIf="product?.badge?.text" class="product-badge mat-elevation-z7" [ngStyle]="{background: product?.badge?.color || '#f44336'}">
                <span>{{product?.badge?.text}}</span>
              </div> -->
              <div class="product-img" [routerLink]="['/shop/products/', product._id]">
                <img [src]="product.photo" alt="">
              </div>
              <div class="info-wrap p-1">
                <div class="main-info">
                  <p class="text-muted p-line">
                     {{product?.category}}
                  </p>
                  <h3 class="title" [routerLink]="['/shop/products/', product._id]">{{product.name}}</h3>
                 
                </div>
                <div class="actions">
                  <div class="price-rating">
                    <div class="product-rating" *ngIf="viewMode === 'grid-view'">
                      <star-rating [rating]="product.ratings.rating" [starType]="'svg'" [readOnly]="true" [size]="'small'" [staticColor]="'ok'"></star-rating>
                      <small class="text-muted">({{product.ratings.ratingCount}})</small>
                    </div>
                  </div>
                  <div class="price-wrap">
                    <div>
                      <span>{{product?.price?.sale | currency:'USD'}}</span>
                      <del class="text-muted">{{product?.price?.previous | currency:'USD'}}</del>
                    </div>
                    <button mat-icon-button (click)="addToCart(product)">
                      <mat-icon>shopping_cart</mat-icon>
                    </button>
                  </div>
                 
                </div>
              </div>
              <!-- Visible when viewMode === list-view -->
              <div class="more-info-wrap p-1" *ngIf="viewMode === 'list-view'">
                <div class="more-info">
                  <div class="more-actions mb-1">
                    <div class="product-rating">
                      <star-rating [starType]="'svg'" [readOnly]="true" [size]="'medium'" [staticColor]="'ok'" [rating]="4.63"></star-rating>
                      <small class="text-muted">(140)</small>
                    </div>
                    <span fxFlex></span>
                    <button mat-icon-button>
                      <mat-icon>playlist_add</mat-icon>
                    </button>
                    <button mat-icon-button>
                      <mat-icon>favorite</mat-icon>
                    </button>
                  </div>
  
                  <div>
                    <ul>
                      <li>
                        <mat-icon>check</mat-icon> Heavy duty</li>
                      <li>
                        <mat-icon>check</mat-icon> Water resistance</li>
                      <li>
                        <mat-icon>check</mat-icon> Clean design</li>
                      <li>
                        <mat-icon>check</mat-icon> High quality raw materials</li>
                    </ul>
                  </div>
  
                </div>
              </div>
  
            </div>
          </div>
          <!-- End Product -->
  
          <div class="products-pagination">
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
          </div>
  
        </div>
        <!-- End Products container -->
      </div>
  
    </div>
  </mat-sidenav-container>
</div>